<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Registro</h3>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card mt-2">
                <div class="card-body">
                    <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" formControlName="email">
                    
                    
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password">
                        <input class="btn btn-secondary m-4" type="submit" value="Registrarse">
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>
   

